body {
	background:url(../images/brushed.png);
	line-height:25px;
}
footer {
	font-family: 'Open Sans', sans-serif;
	background:rgb(220,220,220);
	max-width:960px;
	width:88%;
	margin:0 auto;
	padding:1em 2em;
}
.container {
	margin:0 auto;
	margin-top:-1em;
	width:88%;
	max-width:960px;
	background:rgba(255,255,255,0.4);
	padding:3em 2em;
	font-family: 'Open Sans', sans-serif;
	box-shadow:0px 0px 3px 3px #dcdcdc;
	font-size:16px;
}
header {
	background-color:#846451;
}
h1 {
	font-family: 'Lobster', cursive;
	float:right;
	font-size:70px;
	text-shadow:0 1px grey;
	text-align:right;
	line-height:75px;
}
h2 {
	color:#212121;
	background:#c8aea2;
	padding:5px 5px 5px 5px;
	width:100%;
	background:rgba(200,174,162,0.5);
	padding:5px 5px 5px 5px;
}
h3 {
	color:#846451;;
}
p {
	text-align:left;
	color:#3f3f3f;
}
.profile, .skills {
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	padding:3em 0;
}
.contact {
	float:right;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	list-style:none;
	margin-top:-1.5em;
	margin-bottom:2em;
	margin-left:-3em;
}
.position {
	list-style:none;
	font-weight:bold;
}
.position li {
	margin-left:-40px;
}
#position1, #position2, #position3, #position4 {
	color:#846451;
}
.centerbox, .third {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
}
.heading2 {
	order:2;
}
.item3, .item4 {
	order:3;
}
a {
	color:black;
	text-decoration:none;
}
a:hover {
	background:#add8e6;
	border-radius:0.5em;
}
.skills ul {
	list-style:none;
	display:block;
	margin-left:-2em;
}
header img {	
	margin-top:60px;
	margin-left:30px;
	width:250px;
	height:250px;
	float:left;
	display:inline;
	border-radius:50em;
	box-shadow:2px 3px grey;
}
.skills li {
	float:left;
	list-style:none;
	margin: 3em 4em;
	position:relative;
}
.skills span {
	position:absolute;
	bottom:-50px;
	width:100%;
	text-align:center;
}
.cisco span {
	position:absolute;
	bottom:-70px;
}
.html5 {
	background:url(../images/graphsprite.png);
	width:80px;
	height:80px;
	background-position:0px 0px;
}
.css3 {
	background:url(../images/graphsprite.png);
	width:80px;
	height:80px;
	background-position:-80px 0px;
}
.photoshop {
	background:url(../images/graphsprite.png);
	width:80px;
	height:80px;
	background-position:-160px 0px;
}
.illustrator {
	background:url(../images/graphsprite.png);
	width:80px;
	height:80px;
	background-position:-240px 0px;
}
.office {
	background:url(../images/graphsprite.png);
	width:80px;
	height:80px;
	background-position:-320px 0px;
}
.cisco {
	background:url(../images/graphsprite.png);
	width:80px;
	height:80px;
	background-position:-400px 0px;
}
.time {
	background:url(../images/graphsprite.png);
	width:80px;
	height:80px;
	background-position:-480px 0px;
}
/*Social Media-----*/
.social-media li {
	float:right;
	list-style:none;
	display:block;
	padding:3px;
}
.social-media li a {
	display:block;
	margin-top:-2.5em;
}
.behance a {
	background:url(../images/sprite.png);
	width:30px;
	height:30px;
	background-position:0px 0px;
}
.behance a:hover {
	background:url(../images/sprite.png);
	width:30px;
	height:30px;
	background-position:0px 30px;
}
.github a {
	background:url(../images/sprite.png);
	width:30px;
	height:30px;
	background-position:-30px 0px;	
}
.github a:hover {
	background:url(../images/sprite.png);
	width:30px;
	height:30px;
	background-position:-30px 30px;
}
.linkedin a {
	background:url(../images/sprite.png);
	width:30px;
	height:30px;
	background-position:-60px 0px;
}
.linkedin a:hover {
	background:url(../images/sprite.png);
	width:30px;
	height:30px;
	background-position:-60px 30px;
}
/*Media Queries--------*/

@media screen and (min-width:700px) {
	h1 {
		font-size:100px;
		line-height:100px;
		letter-spacing:5px;
	}
	.contact {
		display:flex;
		flex-wrap:wrap;
		justify-content:flex-end;
		align-items:baseline;
		font-size:16px;
		margin-top:-3em;
		width:60%;
	}
	.contact li {
		padding:0 0.5em;
	}
	.centerbox {
		flex-direction:row;
		justify-content:space-between;
	}
	.heading1, .item1 {
		width:45%;
		display:inline-flex;
		justify-content:space-between;
		order:1;
	}
	.heading2 {
		width:35%;
		display:inline-flex;
		justify-content:space-between;
		order:1;
	}
	.heading2 h2 {
		margin-left:-2em;
	}
	.item2 {
		width:45%;
		order:3;
		display:inline-flex;
		justify-content:space-between;
	}
	.item3 {
		width:45%;
		order:2;
		display:inline-flex;
		justify-content:space-between;
		border-left:solid 2px lightgrey;
		padding:0 1.5em;
	}
	.item4 {
		width:45%;
		order:4;
		display:inline-flex;
		justify-content:space-between;
		border-left:solid 2px lightgrey;
		padding:0 1.5em;
	}
	#position1, #position2 {
		width:30%;
	}
	#position3, #position4 {
		width:30%;
		margin-left:5em;
	}
	#info1, #info2 {
		width:40%;
		padding-right:2em;
	}
	#info3, #info4 {
		width:50%;
	}
	#info1 p, #info2 p{
		margin-left:-4em;
	}
	.references {
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}
	.reference1, .reference2, .reference3 {
		width:30%;
}
img {
	margin-top:60px;
	margin-left:30px;
	width:250px;
	height:250px;
	float:left;
	display:inline;
	border-radius:50em;
}
} /*Need this bracket!---*/

@media screen and (min-width:800px) {
	.reference2 {
		padding:0 20%;
	}
}/*Need this bracket!---*/
